<div>
  <img src="assets/logo.jpg" alt="logo lamp calculate" width="100" height="100" class="center"/> 
  <img /><h2>Calculate VAT</h2>
  <div class="SameLineTitle">
      Country:
  </div>
  <div class="SameLine">
      <mat-form-field appearance="fill">
        <mat-select value="">
          <mat-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field> 
  </div>
  <div class="SameLineTitle">
    VAT rate: 
  </div>
  <div class="SameLine">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button *ngFor="let country of countries" value={{country.firstTax}}>{{country.firstTax}}</mat-radio-button >
   
    </mat-radio-group>
  </div>
  <div>
    <mat-radio-group aria-label="Select an option">
      <div class="SameLineTitle">
        <mat-radio-button value="country.priceWithoutVat">Price Without VAT</mat-radio-button>
      </div>
      <div class="SameLine">
        <input value="country.priceWithoutVat"/>
      </div>
      <div class="SameLineTitle">
        <mat-radio-button value="country.vat">Value Added Tax</mat-radio-button>
      </div>
      <div class="SameLine">
        <input value="country.vat" />
      </div>
      <div class="SameLineTitle">
        <mat-radio-button value="country.pricePlusVat">Price incl. VAT</mat-radio-button>
      </div>
      <div class="SameLine">
      <input value="country.pricePlusVat" />
      </div>
    </mat-radio-group>
  </div>
</div>

<!-- <input [(ngModel)]="country.pricePlusVat" /> -->